/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1A2D42;
  color: white;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.footer p {
  margin: 0.5rem; 
}
