.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #2196f3;
  padding: 1rem;
}

.container > div {
  background-color: white;
  padding: 1rem;
  height: 5rem;
}

.container > div:hover {
    background-color: #a9a9a9;
  }


