.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container > a {
  background-color: #d4d8dd;
  text-decoration: none;
  color: black; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.container > a:hover {
  background-color: #aab7b7;
}

#projects {
  margin: 2rem;
}

.content > h3 {
  color: black;
  font-size: 2em;
}

.content > p {
  color: black;
  padding-top: 1rem;
  font-size: 1em;
}
