.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #2E4156;
  
  padding: 1rem;
}

.container > a {
  background-color: #D4D8DD;
  padding: 1rem;
  height: 5rem;
  text-decoration: none;
  color: black;
}

.container > a:hover {
  background-color: #AAB7B7;
}
